<ul id="navUl">
    <li>
        <a href="/">Inventur | </a>
    </li>
    <li>
        <a href="/logs">Logs</a>
    </li>
    <li>
        <a href="/stammdaten">Stammdaten</a>
        <!-- <div class="Navdropdown">
            <button class="dropbtn">Stammdaten
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="Navdropdown-content">
                <a href="/stammdaten/orte">Orte</a>
                <a href="/stammdaten/kategorie">Kategorien</a>
                <a href="/stammdaten/keywords">Stichwörter</a>
            </div>
        </div> -->
    </li>
    <li id="Logoutli">
        <button id="Logout">Logout</button>
    </li>
    <li id="loggedAs">
        Eingeloggt als <%= session.title %> <%= session.username %>
    </li>
</ul>