*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

#navUl{
    background-color: rgb(65, 182, 255);
    width: 100%;
    height: 50px;
    list-style-type: none;
    font-weight: bold;
    font-size: 20px;
}

#navUl li{
    float: left;

}

#navUl li a{
    display: block;
    margin-left: 8px;
    margin-top: 16px;
    margin-bottom: -16px;
    padding-right: 16px;
    text-decoration: none;
    color: black;

}

#loggedAs{
    float: right !important;
    margin-top: 16px;
    margin-bottom: -16px;
    padding-right: 16px;
    font-weight: 400;
    font-size: 1vw;
}

#Logoutli{
    float: right !important;
    margin-top: 8px;
    margin-right: 16px;
}

#Logout{
    background-color: white;
    border: none;
    font-size: 1vw;
}

.log{
    width: 24px;
    height: auto;
}

.log:hover{
    cursor: pointer;
}

button{
    padding: 5px;
}

button:hover:enabled{
    cursor: pointer;
}

button:hover:disabled{
    cursor: not-allowed;
}

#tableDiv{
    padding: 20px;
}

#tableDiv tbody tr:nth-child(even){
    background-color: rgb(238, 238, 238);
}

thead input{
    line-height: 20px;
    width: 100%;
    margin:0;
    border: 0;
    padding-left: 5px;
}

#inputTr th{
    padding: 0 !important;
}

#cover{
    transition: 1s;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.356);
    display: none;
}

#PopUp{
    display: none;
    width: 40%;
    min-width: 650px;
    position: absolute;
    margin-left: 30%;
    bottom: 40%;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    background-color: #efefef;
    font-weight: bold;
    color: black;
}

.PopUp_middle input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(65, 182, 255);
    padding-left: 5px;
    color: black;
    height: 25px;
}

.PopUp_middle input:focus {
    outline-width: 0;
    background-color: rgb(236, 228, 228);
}

.ui-autocomplete {
    z-index: 100;
    background-color: white;
    border: 1px solid black;
}

.ui-helper-hidden-accessible{
    display: none;
}

#PopUpDelete{
    display: none;
    width: 40%;
    min-width: 500px;
    position: absolute;
    margin-left: 30%;
    bottom: 50%;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
}

.PopUpDelete_middle{
    margin: 30px;
    background-color: white;
    text-align: center;
}

#PopUp table{
    margin: auto;
    height: 100%;
    margin-top: 2%;
}

#PopUp table tr td{
    padding: 10px;
}

#PopUp table tr td span{ 
    /*Notification*/
    position: absolute;
    margin-left: -88px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(250, 82, 82);
}

.PopUp_topBar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    padding-left: 1vw;
    padding-top: 0.5vw;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(65, 182, 255);
    border-bottom: 1px solid rgb(111, 121, 138);
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.PopUp_topBar span{
    float: right;
    background-color: black;
    border: 2px solid white;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 2.5px 10px 5px 10px;
    margin-top: -20px;
    margin-right: -10px;
}

.PopUp_topBar span:hover{
    cursor: pointer;
}

.PopUp_middle td{
    text-align: left;
}

#keywords{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #e9e6e6;
    color: black;
}

#keywords::placeholder{
    color: rgb(109, 107, 107);
}

#keywords:focus{
    outline-width: 0;

}

.PopUp_footer{
    width: 100%;
    background-color: rgb(65, 182, 255);
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
}

.PopUp_footer button{
    margin: 6px !important;
    box-shadow: none;
    border: rgb(162, 214, 247);
    background-color: white;
    height: 1.5vw;
    width: 5vw;
    border-radius: 10px;
    font-weight: bold;
}

.PopUp_footer button:hover{
    cursor: pointer;
    outline-width: 0;
    background-color: rgb(209, 234, 250);
}

footer{
    width: 100%;
    height: 30px;
    background-color: rgb(65, 182, 255);
    color: white;
    position: fixed;
    bottom: 0;
}